@import './base.scss';


//顶部区域
.top {
    width: 100%;
    background-color: #f4f4f4;

    .top-w {
        width: 990px;
        margin: 0 auto;
        height: 28px;
        line-height: 28px;

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        .top-fl {
            float: left;

            a {
                color: #998c59;
                margin-left: 10px;
                margin-right: 30px;
            }
        }

        .top-fr {
            float: right;

            .login {
                float: left;

                a {
                    display: block;
                    color: #999;
                    float: left;
                    line-height: 28px;
                    padding: 0 10px;
                    cursor: pointer;

                    &:nth-child(2) {
                        color: #ae0f17;
                    }
                }
            }

            .other {
                float: left;

                .line {
                    color: #ddd;
                    margin: 0 8px;
                    float: left;
                }

                .cart {
                    color: #cc5252;
                    font-weight: 700;

                    span,
                    i {
                        @extend .cart;
                    }
                }

                a {
                    display: block;
                    color: #999;
                    float: left;
                    line-height: 28px;
                    padding: 0 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

.head {
    width: 990px;
    margin: 0 auto;
    height: 115px;

    .head-l {
        margin: 8px 0 12px 45px;
        width: 404px;
        float: left;
    }

    .head-r {
        margin-top: 35px;
        margin-right: 40px;
        float: right;

        ul {
            padding-top: 10px;
            border-top: 1px solid #eee;

            li {
                position: relative;
                width: 156px;
                display: block;
                float: left;
                color: #999;
                text-align: center;
                margin-top: 5px;

                i {
                    position: absolute;
                    display: inline-block;
                    margin-left: -4px;
                    border-radius: 50%;
                    z-index: 2;
                    width: 10px;
                    height: 10px;
                    margin-top: -21px;
                    border: 2px solid #ccc;
                    box-sizing: border-box;
                }

                span {
                    display: block;
                }

                &:first-child {
                    margin-left: -78px;
                    color: #cc5252;
                }

                &:last-child {
                    margin-right: -78px;
                }

                &:first-child i {
                    width: 16px;
                    height: 16px;
                    margin-top: -24px;
                    background: #cc5252;
                }
            }
        }
    }
}

.main {
    @include w;

    &::after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }

    .wrap {
        width: 990px;
        margin: 0 auto;


        h2 {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: #333;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .nav {
            box-sizing: border-box;
            width: 100%;
            height: 34px;
            line-height: 34px;
            background: #f5f5f5;
            color: #666;
            margin-bottom: 20px;
            padding: 0 0 0 20px;
            float: left;

            span {
                margin-left: 145px;
            }

            ul {
                width: 576px;
                float: right;

                li {
                    width: 120px;
                    margin-left: 24px;
                    text-align: center;
                    display: block;
                    float: left;
                }
            }
        }

        .cn_top {
            position: relative;
            height: 44px;
            line-height: 44px;
            background: #f5f5f5;
            border-bottom: 1px solid #ddd;
            width: 100%;

            span {
                position: relative;
                width: 50px;
                height: 44px;
                float: left;

                .all {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                    cursor: pointer;
                    display: block;
                    width: 12px;
                    height: 12px;
                }
            }

        }

        .content {
            margin-bottom: 200px;
            position: relative;
        }

        .fool {
            position: absolute;
            bottom: -100px;
            width: 970px;
            height: 60px;
            // line-height: 60px;
            background: #f2f2f2;
            padding: 0 0 0 20px;

            li {
                display: inline-block;
                color: #666;
                margin-right: 28px;
                line-height: 60px;

                a {
                    color: #666;
                    line-height: 60px;
                }

                &:nth-child(4) {
                    margin-left: 133px;

                    em {
                        color: #cc5252;
                    }
                }

                &:nth-child(5) {
                    float: right;
                    width: 180px;
                    background: #cc5252;
                    font-weight: 700;
                    margin-right: 0;
                    text-align: center;
                    font-size: 14px;

                    a {
                        display: block;
                        color: #fff;
                        font-size: 14px;
                        line-height: 60px;
                    }
                }

                &:nth-child(6) {
                    text-align: right;
                    display: inline-block;
                    color: #666;
                    margin-right: 28px;
                    float: right;
                    line-height: 30px;

                    p {
                        font-size: 14px;
                        margin-top: 12px;

                        span {
                            color: #cc5252;
                            font-size: 14px;
                            font-weight: 700;
                        }

                        i {
                            color: #cc5252;
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .goods {
        border: 1px solid #ddd;
        margin-top: 15px;
        position: relative;
        padding-top: 15px;
        height: 135px;
        overflow: hidden;

        .bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: 50px;
            background: #f5f5f5;
            height: 30px;
            line-height: 30px;
            padding-left: 18px;
            color: #666;
            width: 100%;
        }

        .goods_r {
            position: relative;
            height: 90px;
            margin-left: 50px;
            margin-bottom: 15px;

            span {
                position: absolute;
                top: 50%;
                margin-top: -6px;
                width: 12px;
                height: 12px;
                left: -34px;

                input {
                    position: absolute;
                    cursor: pointer;
                    display: block;
                    width: 12px;
                    height: 12px;
                }
            }

            .goods_img {
                float: left;
                position: relative;
                width: 90px;
                height: 90px;
                overflow: hidden;
                text-align: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .goods_txt {
                width: 250px;
                margin-top: 15px;
                margin-left: 20px;
                float: left;

                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .p1 {
                    color: #666;
                    line-height: 22px;
                }

                .p2 {
                    height: 16px;
                    line-height: 16px;
                    font-size: 12px;
                    color: #999;
                }
            }

            ul {
                float: right;
                height: 20px;
                line-height: 20px;
                margin-top: 16px;

                li {
                    display: block;
                    float: left;
                    width: 120px;
                    color: #666;
                    text-align: center;
                    margin-left: 24px;

                    a {
                        display: block;
                        text-align: center;
                        color: #999;
                        line-height: 22px;
                    }
                }

                .num {
                    margin-left: 41px;
                    margin-right: 24px;
                    width: 78px;
                    height: 18px;
                    line-height: 17px;
                    border: 1px solid #ddd;
                    color: #333;
                    text-align: center;
                    position: relative;

                    span {
                        float: left;
                        width: 16px;
                        height: 18px;
                        cursor: pointer;
                        font-size: 14px;
                        position: static;
                        margin: 0;
                    }

                    input {
                        border: 0;
                        float: left;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                        width: 42px;
                        height: 18px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


//购物车为空显示
.cart_empty {
    display: none;
    padding: 110px 0 265px;
    text-align: center;

    i {
        margin: 0 auto 21px;
        display: block;
        background-image: url(../images/a.png);
        background-position: 0 -112px;
        background-size: 589px;
        width: 82px;
        height: 84px;
    }

    p {
        font-size: 18px;
        color: #666;
        line-height: 25px;
    }

    .btn {
        margin-top: 37px;

        a {
            display: inline-block;
            width: 100px;
            height: 34px;
            line-height: 34px;
            border: 1px solid #cc5252;
            border-radius: 100px;
            margin: 0 9px;
            font-size: 14px;
            color: #cc5252;

            &:nth-child(1) {
                background: #cc5252;
                color: #fff;
            }
        }
    }
}


//底部区域
.footer {
    width: 100%;
    background: #333;

    .ribbon {
        height: 70px;
        background: #fff;
        border-top: 1px solid #eee;

        .w {
            @include w;

            a {
                span {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                    background-image: url(../images/a.png);
                    background-position: -409px -357px;
                    background-size: 589px;
                    width: 38px;
                    height: 38px;

                }

                &:nth-child(2) span {
                    background-position: 0 -414px;
                }

                &:nth-child(3) span {
                    background-position: -361px -357px;
                }

                &:nth-child(4) span {
                    background-position: -313px -357px;
                }

                &:nth-child(5) span {
                    background-position: -265px -357px;
                }

                display: block;
                float: left;
                width: 240px;
                text-align: center;
                height: 70px;
                line-height: 70px;
                color: #666;
                font-size: 14px;
                cursor: pointer;
            }
        }

    }

    .inst {
        @include w;
        padding: 44px 0 80px;
        height: 263px;
        box-sizing: border-box;

        .inst_left {
            float: left;

            .p1 {
                font-size: 14px;
                color: #ccaa7a;
                font-weight: 700;
                line-height: 19px;
                margin-bottom: 12px;
            }

            .p2 {
                font-size: 24px;
                line-height: 31px;
                color: #ccaa7a;
            }

            b {
                color: #999;
                line-height: 16px;
                font-size: 12px;
                margin: 0 5px 0 0;
                display: inline-block;
            }

            a {
                display: block;
                width: 132px;
                height: 36px;
                line-height: 36px;
                color: #999;
                font-weight: 700;
                text-align: center;
                border: 1px solid #999;
                border-radius: 100px;
                margin-top: 16px;

                &:hover {
                    background-color: #ccaa7a;
                    color: #fff;
                    border-color: #ccaa7a;
                }
            }
        }

        .inst_middle {
            width: 520px;
            margin-left: 122px;
            float: left;

            dl {
                width: 80px;
                float: left;
                margin-right: 24px;

                dt {
                    font-size: 14px;
                    color: #ccc;
                    font-weight: 700;
                    margin-bottom: 13px;
                }

                a {
                    display: block;
                    line-height: 28px;
                    color: #999;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        color: #fff;
                    }
                }

                &:nth-child(5) dt {
                    color: #ccaa7a;
                }
            }
        }

        .inst_ggt {
            position: relative;
            float: left;
            width: 113px;
            height: 113px;
            margin-left: 187px;
            margin-top: 5px;
            overflow: hidden;

            img {
                width: 113px;
            }
        }
    }

    .wrap {
        @include w;
        text-align: center;
        height: 167px;
        margin-bottom: 42px;

        a {
            color: #999;
            margin: 0 10px;
            line-height: 20px;
            font-size: 13px;

            &:hover {
                color: #fff;
            }
        }

        .corp {
            margin-top: 43px;
            margin-bottom: 40px;
            color: #999;
            line-height: 18px;
            font-size: 13px;

            p {
                color: #999;
                margin-bottom: 10px;
            }
        }
    }

    .filing {
        width: 100%;
        background-color: #eee;
        padding: 24px 0 41px;

        .w {
            @include w;
            text-align: center;

            a {
                display: inline-block;
                margin: 0 10px;
                width: 98px;
                height: 38px;
                overflow: hidden;
            }
        }
    }
}