@import './base.scss';

.nav {
    @include center;

    div {
        width: 100%;
        height: 75px;
        margin: 25px 0;
    }
}

.main {
    height: 580px;
    margin: 0 auto;
    background: url(../images/login_banner.png) no-repeat center;

    .w {
        @include center;

        form {
            width: 380px;
            height: 460px;
            background-color: #fff;
            float: right;
            margin-top: 50px;
            position: relative;

            .title {
                overflow: hidden;
                width: 269px;
                margin: 0 auto;
                padding: 40px 0 20px;

                span {
                    height: 26px;
                    line-height: 26px;
                    font-size: 20px;
                    color: grey;
                    float: left;
                    width: 134px;
                    text-align: center;
                    cursor: pointer;
                }

                em {
                    @include shugang;
                }
            }

            .warp {
                width: 300px;
                margin: 0 auto;

                input {
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                    height: 44px;
                    margin-top: 18px;
                    line-height: 44px;
                    border: 1px solid #ddd;
                    padding-left: 10px;
                    border-radius: 4px;

                    &::placeholder {
                        font-size: 14px;
                        color: rgb(204, 204, 204);
                    }
                }

                .captcha {
                    width: 195px;
                    margin-right: 5px;
                    display: inline-block;
                }

                #canvas {
                    width: 97px;
                    height: 43px;
                    float: right;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-top: 17px;
                    cursor: pointer;
                }

                i {
                    font-size: 14px;
                    color: #cc5252;
                    line-height: 19px;
                    display: none;
                    text-align: center;
                    margin-top: 10px;
                }

                .yzm {
                    margin: 0;
                    text-align: start;
                }

                button {
                    background: #cc5252;
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    color: #fff;
                    margin-bottom: 12px;
                    cursor: pointer;
                    height: 44px;
                    border: 0;
                    margin: 12px 0;
                }

                a {
                    color: #999;
                    font-size: 14px;
                }

                b {
                    float: right;
                    color: #999;
                    font-size: 14px;
                    cursor: pointer;
                }

                .pos {
                    position: absolute;
                    bottom: 24px;
                    right: 40px;
                    padding-top: 11px;

                    a {
                        float: left;
                        font-size: 16px;
                        color: #999;
                        line-height: 22px;

                    }

                    em {
                        @include shugang;
                        margin: 0 13px;
                    }
                }
            }

            .sm {
                margin-top: 20px;
                width: 380px;

                .ewm {
                    width: 340px;
                    height: 183px;
                    margin: 0 auto 20px;
                    position: relative;

                    img {
                        position: absolute;
                        left: 50%;
                        margin-left: -91.5px;
                        z-index: 2;
                        width: 183px;
                        height: 183px;
                    }
                }

                p {
                    font-size: 16px;
                    text-align: center;

                    b {
                        font-size: 16px;
                        color: #cc5252;
                        cursor: pointer;
                    }

                    i {
                        color: #999
                    }

                }

                a {
                    width: 160px;
                    height: 40px;
                    margin: 27px auto 0;
                    display: block;
                    border: 1px solid #999;
                    border-radius: 100px;
                    font-size: 16px;
                    color: #666;
                    text-align: center;
                    line-height: 40px;
                }
            }
        }
    }
}

.footer {
    border-top: 1px solid #eee;
    padding: 50px 0;
    width: 640px;
    margin: 0 auto;

    p {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #999;
        line-height: 20px;
    }
}