@import './base.scss';

.w_top {
    width: 100%;
    background-color: rgb(106, 23, 9);
}

.w_top>div {
    width: 1200px;
    margin: 0 auto;
    line-height: 0px;
}

.w_top .iconfont {
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
}

#w_header {
    width: 100%;
    padding-top: 1px;
    color: #999;
    font-size: 12px;
    background-color: rgb(244, 244, 244);

}

.header_wrap {
    width: 1200px;
    margin: 0 auto;
}

.header_wrap>ul>li {
    line-height: 26px;
    padding-top: 2px;
}

.w_header_right>li>a {
    display: block;
    line-height: 26px;
    padding: 0 10px;
}

.header_wrap span {
    line-height: 26px;
    padding: 0 10px;
}

.w_header_right>li>a:hover {
    text-decoration: underline;
    color: #000;
}

.service {
    position: relative;
}

.service_head {
    padding-top: 0;
    position: relative;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    z-index: 9;
}

.service_list {
    position: absolute;
    top: 29px;
    right: 0px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px 15px 0px 15px;
    width: 185px;
    display: none;
    border-radius: 2px;
    z-index: -1;
}

.service_list>ul {
    padding: 15px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.service_list li {
    width: 92.5px;
    color: #666;
}

.service_list>div:last-child {
    padding-bottom: 10px;
}

.service_list li>a:hover {
    text-decoration: underline;
    color: #666;
}

.service:hover {
    background-color: #FFF;
}

/* 标题 */

#w_header {
    width: 100% !important;
    background-color: rgb(244, 244, 244);
}

.header_wrap {
    width: 990px;
    margin: 0 auto;
}

.header_wrap>ul:first-child {
    width: 160px;
    margin: 0 auto;
}

.w_title {
    width: 990px;
    margin: 0 auto;
    padding-bottom: 22px;
    position: relative;
}

#w_header {
    width: 990px;
    margin: 0 auto;
}

.logo {
    width: 121px;
    margin-top: 18px;
    line-height: 0px;
}

.logo img {
    width: 100%;
}

.log_point {
    width: 200px;
    margin-top: 30px;
    line-height: 0px;
}

.log_point img {
    width: 100%;
    position: relative;
}

/* 右侧当前状态 */
.current_list {
    transform: translateX(30px);
    margin-top: 35px;
}

.current_list>li {
    width: 156px;
    text-align: center;

}

.current {
    width: 6px;
    height: 6px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.current_name {
    font-size: 12px;
    color: #999;
}

.selected {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    border-radius: 50%;
    transform: translateY(-2px);
    background-color: #cc5252;
    border: none;
}

.progress_bar {
    width: 468px;
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 40px;
    right: 50px;
}

/* 主体 */
.main {
    width: 990px;
    margin: 0 auto;

    ul {
        cursor: pointer;
    }
}

.main>div {
    box-sizing: border-box;
    width: 100%;
    background-color: #c55453;
    height: 100px;
    border-radius: 8px;
    margin: 10px 0;
    padding: 24px 20px 0px 40px;
}

.left {
    color: #fff;
}

.left>p:first-child {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.left>p:last-child {
    font-size: 12px;
    line-height: 24px;
}

.right {
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.pay_manner {
    width: 966px;
    margin-left: 12px;
    padding: 12px 0px;
    border-bottom: 1px solid #eee;
}

.pay_manner>p:nth-child(1) {
    width: 36px;
    height: 36px;
}

.pay_manner>p img {
    width: 100%;
    height: 100%;
}

.pay_manner>p:nth-child(2) {
    font-size: 12px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 12px;
    cursor: pointer;
}

.pay_manner>p:nth-child(3) {
    font-size: 14px;
    color: #999;
    line-height: 36px;
    cursor: pointer;
}

.bottom {
    width: 990px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    font-size: 12px;
    color: #999;
    line-height: 25px;
}

