@charset "UTF-8";
body,
div,
article,
section,
header,
footer,
nav,
aside,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
label,
a,
span,
em,
ul,
li,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  font-size: .14rem;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a,
u {
  text-decoration: none;
  color: inherit;
}

i,
b,
em {
  font-weight: normal;
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input {
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  height: 1.5em;
  display: block;
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

body .layui-layer-dialog {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

body .layui-layer-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

body .layui-layer-content p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

body .layui-layer-btn0 {
  width: 78px;
  height: 38px !important;
  padding: 0px !important;
  font-size: 14px !important;
  text-align: center;
  line-height: 40px !important;
  border-radius: 19px !important;
  border: 1px solid #999 !important;
  color: #999 !important;
  background-color: #fff !important;
}

body .layui-layer-btn1 {
  width: 78px;
  height: 38px !important;
  padding: 0px !important;
  font-size: 14px !important;
  text-align: center;
  line-height: 40px !important;
  border-radius: 19px !important;
  border: 1px solid #cc5252 !important;
  color: #fff !important;
  background-color: #cc5252 !important;
  font-weight: bold;
}

body .layui-layer-msg {
  width: 120px !important;
  height: 45px !important;
  text-align: center;
  line-height: 50px !important;
  padding: 0px 0px !important;
  border-radius: 5px !important;
}

.w_top {
  width: 100%;
  background-color: #6a1709;
}

.w_top > div {
  width: 1200px;
  margin: 0 auto;
  line-height: 0px;
}

.w_top .iconfont {
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

#w_header {
  width: 100%;
  padding-top: 1px;
  color: #999;
  font-size: 12px;
  background-color: #f4f4f4;
}

.header_wrap {
  width: 1200px;
  margin: 0 auto;
}

.header_wrap > ul > li {
  line-height: 26px;
  padding-top: 2px;
}

.w_header_right > li > a {
  display: block;
  line-height: 26px;
  padding: 0 10px;
}

.header_wrap span {
  line-height: 26px;
  padding: 0 10px;
}

.w_header_right > li > a:hover {
  text-decoration: underline;
  color: #000;
}

.service {
  position: relative;
}

.service_head {
  padding-top: 0;
  position: relative;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  z-index: 9;
}

.service_list {
  position: absolute;
  top: 29px;
  right: 0px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0px 15px 0px 15px;
  width: 185px;
  display: none;
  border-radius: 2px;
  z-index: -1;
}

.service_list > ul {
  padding: 15px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.service_list li {
  width: 92.5px;
  color: #666;
}

.service_list > div:last-child {
  padding-bottom: 10px;
}

.service_list li > a:hover {
  text-decoration: underline;
  color: #666;
}

.service:hover {
  background-color: #FFF;
}

/* 标题 */
#w_header {
  width: 100%;
  background-color: #f4f4f4;
}

.header_wrap {
  width: 990px;
  margin: 0 auto;
}

.header_wrap > ul:first-child {
  width: 160px;
  margin: 0 auto;
}

.w_header_right {
  width: 505px;
}

.w_title {
  width: 990px;
  margin: 0 auto;
  padding-bottom: 22px;
  position: relative;
}

#w_header {
  width: 990px;
  margin: 0 auto;
}

.logo {
  width: 121px;
  margin-top: 18px;
  margin-left: 30px;
  line-height: 0px;
}

.logo img {
  width: 100%;
}

.log_point {
  width: 200px;
  margin-top: 30px;
  line-height: 0px;
}

.log_point img {
  width: 100%;
  position: relative;
}

/* 右侧当前状态 */
.current_list {
  transform: translateX(30px);
  margin-top: 35px;
}

.current_list > li {
  width: 156px;
  text-align: center;
}

.current {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

.current_name {
  font-size: 12px;
  color: #999;
}

.selected {
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  border-radius: 50%;
  transform: translateY(-2px);
  background-color: #cc5252;
  border: none;
}

.progress_bar {
  width: 468px;
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 40px;
  right: 50px;
}

/* 主体部分 */
.main {
  width: 995px;
  margin: 0 auto;
}

.main > div > ul {
  padding-bottom: 50px;
}

.prompt_icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #666;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -8px;
  margin-top: -5px;
  vertical-align: middle;
}

.prompt_icon > b {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-left: 4px;
  margin-bottom: 7px;
  border-radius: 50%;
  background-color: #333;
  vertical-align: middle;
}

.prompt_txt {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 14px;
}

.mag_address,
.back_cart,
.write_info {
  color: #477db3;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 12px;
}

.write_info {
  margin: 14px 0px 50px 20px;
}

.address {
  box-sizing: border-box;
  width: 310px;
  height: 82px;
  border: 1px solid #d4d4d4;
  padding: 9px 20px 10px 34px;
  margin: 14px 0px 0px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #999;
  cursor: pointer;
  position: relative;
}

.address_cover {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #477db3;
  background: #f1f1f1;
  display: none;
}

.address.style {
  border: 2px solid #cc5252;
}

.address:hover .address_cover {
  display: block;
}

.address > p:first-child {
  font-weight: 600;
  height: 20px;
}

.address > p:nth-child(2) {
  position: relative;
  height: 20px;
}

.address i {
  position: absolute;
  left: -20px;
}

.address > p:nth-child(3) {
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.add_address {
  width: 310px;
  height: 82px;
  border: 1px dotted #477db3;
  text-align: center;
  line-height: 84px;
  color: #477db3;
  font-size: 12px;
  font-weight: 600;
  margin: 14px 0px 50px 20px;
  cursor: pointer;
}

/* 商品 */
.store_name {
  background-color: whitesmoke;
}

.store_name > div {
  width: 50px;
  height: 44px;
  text-align: center;
  line-height: 34px;
}

.store_name > span {
  font-size: 12px;
  font-weight: 600;
  line-height: 44px;
  color: #666;
  cursor: pointer;
}

.goods_content {
  margin: 14px 0px 50px 0px;
}

.store_goods {
  padding-top: 12px;
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
  padding-bottom: 20px;
}

.store_goods:first-child {
  border-top: 1px solid #ddd;
}

.goods_img {
  width: 90px;
  height: 90px;
  text-align: center;
}

.goods_img img {
  height: 100%;
}

.goods_txt {
  margin-top: 5px;
  margin-left: 20px;
}

.goods_txt > p:first-child {
  width: 400px;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  color: #666;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goods_txt > p:nth-child(2) {
  width: 250px;
  font-size: 12px;
  line-height: 12px;
  color: #999;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goods_txt > p:nth-child(3) {
  display: inline-block;
  line-height: 16px;
  margin-top: 19px;
  margin-right: 5px;
  text-align: center;
  color: #b3a26b;
  border: 1px solid #ddd;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 0 6px;
  font-size: 12px;
}

.price,
.subtotal {
  width: 120px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #666;
  margin-top: 10px;
}

.price {
  margin-left: 34px;
}

.subtotal {
  text-align: right;
  font-weight: 600;
  margin-left: 24px;
}

.goods_num {
  border: 1px solid #ddd;
  margin-right: 24px;
  margin-left: 44px;
  margin-top: 10px;
}

.less_btn,
.add_btn {
  display: inline-block;
  width: 16px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.less_btn {
  border-right: 1px solid #ddd;
}

.add_btn {
  border-left: 1px solid #ddd;
}

.num {
  width: 34px;
  height: 18px;
  padding: 0px 4px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  border: 0;
  outline: none;
}

/* 文本域 */
.write_area_box {
  width: 316px;
  position: relative;
  margin: 14px 0px 0px 20px;
}

.write_area::-webkit-input-placeholder {
  color: #999;
}

.write_area {
  width: 290px;
  max-width: 290px;
  height: 65px;
  border: 1px solid #ddd;
  padding: 8px 12px;
  color: #333;
  outline: none;
}

.write_num {
  font-size: 12px;
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: #999;
}

.borderLeft {
  border-left: 2px solid #eee;
}

.submit_list {
  width: 990px;
  margin: 0 auto;
  background-color: #f2f2f2;
  line-height: 60px;
  margin-top: 100px;
}

.submit_list > span:first-child {
  font-size: 14px;
  color: #666;
}

.total_price {
  font-size: 14px;
  font-weight: 600;
  color: #cc5252;
  margin-left: 5px;
}

.submit_btn {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  width: 180px;
  height: 60px;
  background: #cc5252;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}

/* 提示框 */
.info_box,
.info_box1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.info_box ul,
.info_box1 ul {
  width: 780px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.info_box li:nth-child(2),
.info_box1 li:nth-child(2) {
  padding: 30px 40px;
}

.info_box input[type="text"],
.info_box1 input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
}

.info_box input::-webkit-input-placeholder,
.info_box1 input::-webkit-input-placeholder {
  font-size: 16px;
  color: #999;
}

.info_title {
  width: 100%;
  height: 64px;
  line-height: 64px;
  background: #fff;
  color: #333;
  font-size: 18px;
  padding: 0px 80px 0 20px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

.info_center {
  border-bottom: 1px solid #eee;
}

.layui-layer-close1 {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
}

.info_center p {
  font-size: 12px;
  line-height: 20px;
  color: #666;
}

.name_box > input,
.tel_box > input {
  width: 320px;
  height: 35px;
  margin-bottom: 24px;
  line-height: 35px;
}

.tel_box,
.name_box,
.street_box {
  position: relative;
}

.name_box {
  margin-right: 40px;
}

.tel_box span:last-child,
.name_box span:last-child,
.street_box span:last-child {
  position: absolute;
  right: 0px;
  font-size: 14px;
  line-height: 35px;
  white-space: nowrap;
  color: #cc5252;
}

.info_center select {
  width: 120px;
  height: 36px;
  padding-left: 3px;
  margin: 5px 8px 24px 0px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ddd;
  color: #999;
  font-size: 14px;
}

.street_box {
  width: 480px;
}

.street_box input {
  width: 100%;
  height: 35px;
  margin-bottom: 24px;
}

.btn_box {
  padding: 20px 0px;
  text-align: right;
}

.cancel_btn,
.cancel_btn1 {
  width: 98px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid #999;
  color: #999;
  background: #fff;
  cursor: pointer;
}

.save_btn,
.save_btn1 {
  width: 138px;
  height: 46px;
  border-radius: 23px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #cc5252;
  color: #fff;
  background: #cc5252;
  margin-right: 20px;
  font-weight: bold;
}

.save_btn:hover {
  background: #d55555;
}

.red {
  color: #cc5252;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.footer_title {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 15px;
}

.footer_title li {
  width: calc(1200px / 5);
  text-align: center;
}

.footer_title img {
  vertical-align: middle;
}

.footer_title span {
  font-size: 12px;
  color: #666;
  margin-left: 3px;
  vertical-align: middle;
}

.footer_content {
  width: 100%;
  background-color: #333333;
}

.footer_list {
  width: 1200px;
  margin: 0 auto;
  background-color: #333333;
  font-size: 12px;
  color: #999;
}

.w_phone > p:first-child {
  font-size: 14px;
  color: #ccaa7a;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 12px;
}

.w_phone > p:nth-child(2) {
  font-size: 24px;
  line-height: 31px;
  color: #ccaa7a;
}

.w_phone > p:nth-child(3) {
  color: #999;
  line-height: 16px;
  font-size: 12px;
  margin: 0 5px 0 0;
}

.w_phone > div {
  width: 150px;
  height: 38px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 38px;
  border: 1px solid #999;
  border-radius: 19px;
  margin-top: 16px;
  cursor: pointer;
}

.w_phone > div:hover {
  background-color: #ccaa7a;
  color: #fff;
}

.footer_content_top {
  padding: 44px 0px 80px 0px;
}

.footer_content_bottom {
  width: 100%;
  text-align: center;
}

.footer_list_content li:first-child {
  font-size: 14px;
  color: #ccc;
  font-weight: 600;
  margin-bottom: 13px;
}

.footer_list_content li a {
  line-height: 28px;
}

.footer_list_content {
  margin-left: 110px;
}

.footer_list_content li {
  width: 80px;
  margin-right: 24px;
}

.w_qr_code {
  width: 113px;
  height: 113px;
  margin-left: 187px;
}

.w_qr_code img {
  width: 100%;
  height: 100%;
}

.w_friend_links {
  margin-bottom: 43px;
}

.w_friend_links > span {
  margin: 0px 10px;
}

.w_corp {
  padding-bottom: 40px;
}

.w_corp span {
  color: #666;
}

.w_corp > p {
  margin-bottom: 10px;
}

.w_audit {
  width: 100%;
  background-color: #eeeeee;
}

.w_audit_img {
  width: 230px;
  padding: 24px 0px 41px;
  margin: 0 auto;
}

.w_audit_img > div {
  margin: 0px 10px;
}

.footer_list_content a:hover {
  color: #fff;
}

.w_friend_links > span:hover {
  color: #cccccc;
}
