body,
div,
article,
section,
header,
footer,
nav,
aside,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
label,
a,
span,
em,
ul,
li,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  font-size: .14rem;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a,
u {
  text-decoration: none;
  color: inherit;
}

i,
b,
em {
  font-weight: normal;
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input {
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  height: 1.5em;
  display: block;
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

body .layui-layer-dialog {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

body .layui-layer-content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 40px !important;
}

body .layui-layer-content p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

body .layui-layer-btn0 {
  width: 78px;
  height: 38px !important;
  padding: 0px !important;
  font-size: 14px !important;
  text-align: center;
  line-height: 40px !important;
  border-radius: 19px !important;
  border: 1px solid #999 !important;
  color: #999 !important;
  background-color: #fff !important;
}

body .layui-layer-btn1 {
  width: 78px;
  height: 38px !important;
  padding: 0px !important;
  font-size: 14px !important;
  text-align: center;
  line-height: 40px !important;
  border-radius: 19px !important;
  border: 1px solid #cc5252 !important;
  color: #fff !important;
  background-color: #cc5252 !important;
  font-weight: bold;
}

body .layui-layer-msg {
  width: 120px !important;
  height: 45px !important;
  text-align: center;
  line-height: 50px !important;
  padding: 0px 0px !important;
  border-radius: 5px !important;
}

@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url("iconfont.ttf?t=1623600366130") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zb:before {
  content: "\e615";
}
